mat-grid-tile {
  background: rgba(30, 30, 30, 0.561);
  height: 100%;
}

mat-grid-list {
  height: 50%;
  flex-grow: 1;
}

mat-divider {
  background: rgb(52, 52, 52);
  height: 1px;
}

mat-card {
  background: rgba(30, 30, 30, 0.561);
}

.content {
  top: 10px;
  left: 20px;
  right: 0;
  bottom: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

.button-left-align {
  width: 100%;
  text-align: left;
}
